.dot {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
}

.dot:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
  z-index: 2;
}

.dot:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  -webkit-filter: blur(10px);
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 75px 0 75px;
  border-color: #007bff transparent transparent transparent;

}

.btn {
  width: 450px;
  height: 450px;
  background-color: transparent;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 0;
}

.btn:active {
  animation: shake 520ms cubic-bezier(.36, .07, .19, .97) forwards;
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.msg {
  color: #303030;
  font-size: 20px;
  text-align: center;
  margin-top: 60%;
}

.resetBtn {
  width: 100px;
  height: 30px;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #bbb;
  font-size: 20px;
}

.Eightball {
  text-align: center;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}